@font-face {
    font-family: edit-undo-brk;
    src: url(edit-undo.brk.ttf);
}

body {
	font-family: edit-undo-brk;
	font-size: 18px;
	color: #4CAF50;
	-webkit-text-stroke: 1px black;
	text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

canvas {
	border: 1px solid #ccc;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
};

#legend {
	float: top;
}